.text-center
  %h1 Коллекции
  .grid-triple
    %ul.nav.justify-content-center
      - @collections.each do |collection|
        %li.nav-item
          = image_tag collection.products.order("RANDOM()").first.pictures.first.attachment.url(:medium)
          = link_to collection.name, collection, class: 'nav-link'