.text-center
  %h1
    = @collection.name
  %p
    = @collection.description
  .grid-triple
    .row
      - @products.order("RANDOM()").each do |product|
        .col-md-3.col-6
          .item
            - product.pictures.limit(1).each do |picture|
              = link_to image_tag(picture.attachment.url(:medium)), product
              .overlay
            %p 
              = link_to product.name, product
            %p.price
              = product.computed_price
              &#8381;
    = will_paginate @products, renderer: WillPaginate::ActionView::BootstrapLinkRenderer