.text-center
  %h1 Типы товаров
  .grid-triple
    .row
      - @types.each do |type|
        .col-md-3.col-6
          - type.categories.limit(1).each do |category|
            - category.products.limit(1).each do |product|
              - product.pictures.limit(1).each do |picture|
                = link_to image_tag(picture.attachment.url(:medium)), type
          .item
            %p
              = link_to type.name, type