.text-center
  %h1
    = @type.name
  %p 
    = @type.description
  .grid-triple
    .row
      - @type.categories.each do |category|
        .col-md-3.col-6
          .item
            - category.products.limit(1).each do |product|
              - product.pictures.limit(1).each do |picture|
                = link_to image_tag(picture.attachment.url(:medium)), category
            .overlay
            %p
              = link_to category.name, category