!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Спасибо за заказ, #{@name}!
    %p
      Ваш заказ №#{@uid} успешно оформлен. После получения оплаты мы сразу же начнем подготовку к отправке.
    %p
      Для отслеживания статуса заказа воспользуйтесь сервисом https://novalook.ru/check_order.