.footer
  .p
    © 2019 NOVALOOK.RU
  %ul.list-inline
    - Page.all.each do |page|
      %li.list-inline-item
        = link_to page.name, page
  .payments-splash
    = image_tag 'payments.svg', class: 'img-fluid'