.header
  .row
    .col-lg-12.d-md-none
      .logo
        = link_to image_tag('logo.svg'), root_path
    .col-lg-12.d-sm-none
      .user-links.center.fixed-bottom.bottom-links
        %ul.list-inline
          %li.list-inline-item
            = link_to "https://instagram.com/novalook.ru" do
              %i{:data=> {:feather => "instagram"}}
          %li.list-inline-item
            %a{:href => "#"}
              %i{:data=> {:feather => "user"}}
          %li.list-inline-item
            = link_to cart_path do
              %i{:data=> {:feather => "shopping-bag"}}
              .badge.badge-success.counter
                = current_order.order_items.count
    .col-lg-3.col-md-4.col-6.d-none.d-sm-block
      .user-links.left
        %ul.list-inline
          %li.list-inline-item
            = link_to "https://instagram.com/novalook.ru" do
              %i{:data=> {:feather => "instagram"}}
    .col-lg-6.col-md-4.d-none.d-md-block
      .logo
        = link_to image_tag('logo.svg'), root_path
    .col-lg-3.col-md-4.col-6.d-none.d-sm-block
      .user-links.right
        %ul.list-inline
          %li.list-inline-item
            %a{:href => "#"}
              %i{:data=> {:feather => "user"}}
          %li.list-inline-item
            = link_to cart_path do
              %i{:data=> {:feather => "shopping-bag"}}
              .badge.badge-success.counter
                = current_order.order_items.count