/ Yandex.Metrika counter
:javascript
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
  m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(52247083, "init", {
       id:52247083,
       clickmap:true,
       trackLinks:true,
       accurateTrackBounce:true,
       webvisor:true
  });
%noscript
  %div
    %img{:alt => "", :src => "https://mc.yandex.ru/watch/52247083", :style => "position:absolute; left:-9999px;"}/
/ /Yandex.Metrika counter