%nav.navbar.navbar-expand-lg.navbar-light.bg-light

  %button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavDropdown", "data-toggle" => "collapse", :type => "button"}
    %i{:data=> {:feather => "menu"}} 
    %div.catalog-nav-link
      Каталог
  #navbarNavDropdown.collapse.navbar-collapse
    %ul.navbar-nav
      - Type.all.each do |type|
        %li.nav-item.dropdown
          = link_to type.name, '',class: 'nav-link', id: type.id, aria: {expanded: false, haspopup: true}, data: {toggle: 'dropdown'}, role: 'button'
          .dropdown-menu{aria:{labelledby: type.id}}
            - type.categories.each do |category|
              = link_to category.name, category, class: 'dropdown-item'
      - if Collection.all
        %li.nav-item.dropdown
          = link_to 'Коллекции', '', class: 'nav-link', aria: {expanded: false, haspopup: true}, data: {toggle: 'dropdown'}, role: 'button'
          .dropdown-menu
            - Collection.all.each do |collection|
              = link_to collection.name, collection, class: 'dropdown-item'