= form_for @order_item, html: {class: 'order-form'} do |f|
  = f.hidden_field :product_id, value: @product.id
  %p
    Размер:
    = f.select :size, @product.size.map {|i| i['value']}, {},class: 'form-control'
    %a{:class => "small size-table", :href => ""} Таблица размеров
  %p
    Цвет:
    = f.select :color, @product.color.map {|i| i['color']}, {},class: 'form-control'
  %p
    Количество:
    = f.select :quantity, ((1..5).map {|i| [i,i] }), {}, class: 'form-control'
  %p.price
    %strong 
      = @product.computed_price.to_s + ' ₽'
    %span.free-delivery
      + бесплатная доставка
  .cta
    %span.add
      = f.submit "Добавить в корзину", class: 'btn btn-lg btn-outline-danger'