%ul.breadcrumbs.list-inline
  %li.list-inline-item
    = link_to "Главная", root_path
    &nbsp;&rarr;
  %li.list-inline-item
    = ((link_to @product.category.type.name, type_path(@product.category.type_id)) rescue 'Тип')
    &nbsp;&rarr;
  %li.list-inline-item
    = ((link_to @product.category.name, category_path(@product.category_id)) rescue 'Категория')
    &nbsp;&rarr;
  %li.list-inline-item
    = @product.name