.text-center
  %h1 Поздравляем! Ваш заказ принят.
  %p
    Номер вашего заказа:
    %strong
      = @order.uid
  %p
    К оплате
    %strong
      = @order.total
      &#8381;
  %p.payment
    %form{:action => "https://money.yandex.ru/quickpay/confirm.xml", :method => "POST"}
      %input{:name => "receiver", :type => "hidden", :value => "410012035561254"}
      %input{:name => "quickpay-form", :type => "hidden", :value => "shop"}
      %input{:name => "targets", :type => "hidden", :value => "Перевод для заказа №#{@order.uid} Novalook.ru"}
      %input{:name => "paymentType", :type => "hidden", :value => "AC"}
      %input{:name => "sum", :type => "hidden", :value => @order.total}
      %input{:name => "successURL", :type => "hidden", :value => "https://novalook.ru/success"}
      %input.btn.btn-lg.btn-danger{:type => "submit", :value => "Оплатить заказ"}