%h1 Listing orders

%table
  %thead
    %tr
      %th Uid
      %th Items
      %th Email
      %th Phone
      %th Name
      %th Address
      %th Passport
      %th Status
      %th Tracking
      %th Payment method

  %tbody
    - @orders.each do |order|
      %tr
        %td= order.uid
        %td= order.items
        %td= order.email
        %td= order.phone
        %td= order.name
        %td= order.address
        %td= order.passport
        %td= order.status
        %td= order.tracking_id
        %td= order.payment_method
