.row
  .col-lg-3
    .order-total
      %p Ваш заказ на сумму:
      .order-amount #{current_order.total} ₽
      %span.tip доставка бесплатно
  .col-lg-9.order-data
    %h2 Оформление заказа
    = form_for @order, html: {class: 'order-form'} do |f|
      = f.hidden_field :uid
      .form-group
        - JSON.parse(@order.items).each do |item|
          - @product = Product.find(item['product_id'])
          = link_to @product.name, @product
      .form-group
        %label Ваши фамилия, имя и отчество:
        = f.text_field :name, class: 'form-control', :placeholder => "Иванова Ирина Ивановна"
      .form-row
        .form-group.col-md-6
          %label Адрес электронной почты:
          = f.text_field :email, class: 'form-control', :placeholder => "mail@mail.ru", html: {type: 'email'}
        .form-group.col-md-6
          %label Контактный телефон:
          = f.text_field :phone, class: 'form-control', :placeholder => "+7 999 111-11-11", html: {type: 'phone'}
      %hr/
      .form-row
        .form-group.col-md-2
          %label Индекс:
          = f.text_field :zipcode, class: 'form-control', :placeholder => "111111"
        .form-group.col-md-4
          %label Страна
          = f.select :country, (['Россия', 'Украина', 'Казахстан', 'США'].map {|i| i}), {}, class: 'form-control'
        .form-group.col-md-6
          %label Город:
          = f.text_field :city, class: 'form-control', :placeholder => "Москва"
      .form-group
        %label Адрес:
        = f.text_area :address, class: 'form-control', :placeholder => "ул. Ленина, д. 42, кв. 56"
      %hr/
      .alert.alert-primary.small{:role => "alert"}
        В соответствии с приказом Федеральной Таможенной Службы России от 24.11.2017 № 1861
        при прохождении вашего заказа через границу Российской Федерации, транспортной компании,
        выполняющей доставку, могут потребоваться для предоставления в таможенный орган реквизиты
        документа, удостоверяющего личность получателя, и его ИНН.
      .form-group
        %label Паспорт (серия, номер, кем выдан, дата выдачи):
        = f.text_area :passport, class: 'form-control', :placeholder => "0303 777555 ОУФМС России по Московской области 12.12.2008"
        %span.small Мы гарантируем сохранность ваших данных в зашифрованном виде и обязуемся не передавать их третьим лицам
      .form-group
        %label ИНН (12 символов):
        = f.text_field :tin, class: 'form-control', :placeholder => "123123123123"
        %span.small
          Не знаете ИНН? Узнайте его с помощью сервиса на сайте ИФНС по ссылке
          %strong https://service.nalog.ru/inn.do
      %button.btn.btn-primary.btn-lg{:type => "submit"} Перейти к оплате