%p
  %b Uid:
  = @order.uid
%p
  %b Items:
  - JSON.parse(@order.items).each do |item|
    = item['name']
%p
  %b Email:
  = @order.email
%p
  %b Phone:
  = @order.phone
%p
  %b Name:
  = @order.name
%p
  %b Address:
  = @order.address
%p
  %b Passport:
  = @order.passport
%p
  %b Status:
  = @order.status
%p
  %b Tracking:
  = @order.tracking_id
%p
  %b Payment method:
  = @order.payment_method
