.text-center
  %h1 Оплата прошла успешно!
  %p
    Ваш заказ №
    %strong
      = @order_uid
    готовится к отправке. Номер для отслеживания почтового отправления придет к вам на E-mail после отправки.