- if @order_items.any?
  - @order_items.each do |item|
    .cart-item
      %p
        = item.product.name
        = link_to "<i class='fe fe-trash'></i>".html_safe, order_item_path(item), :data => {:confirm => "Удалить?", :method => "delete"}
      %p.small
        Цена: #{item.product.computed_price} &#8381;| Количество: #{item.quantity} | Итого: #{(item.product.computed_price * item.quantity)} &#8381;
    %hr
  %p
    %strong
      Всего к оплате: #{current_order.total}
      &#8381;
  .cart-confirm
    = link_to "Продолжить покупки", root_path, class: 'btn btn-lg btn-secondary'
    = link_to "Оформить заказ", '/order', class: 'btn btn-lg btn-danger'
    = link_to "Очистить корзину", current_order, method: :delete, data: { confirm: 'Are you sure?' }, class: 'clear-cart'
- else
  %p В корзине пока нет товаров