.homepage
  - if @collection
    .banner
      = image_tag 'banner.jpg', class: 'img-fluid'
      .title
        %h1
          Коллекция
          = @collection.name
        %p
          = link_to "Посмотреть все", @collection, class: 'btn btn-lg'
  %h2 Топ продаж
  .grid-triple
    .row
      - @products.where(featured: true).order("RANDOM()").each do |product|
        .col-md-3.col-6
          .item
            - product.pictures.limit(1).each do |picture|
              = link_to image_tag(picture.attachment.url(:medium)), product
              .overlay
            %p 
              = link_to product.name, product
            %p.price
              = product.computed_price
              &#8381;
  - if @collection
    %h2
      = @collection.name
    .grid-triple
      .row
        - @collection_products.where(featured: true).take(8).each do |product|
          .col-md-3.col-6
            .item
              - product.pictures.limit(1).each do |picture|
                = link_to image_tag(picture.attachment.url(:medium)), product
                .overlay
              %p 
                = link_to product.name, product
              %p.price
                = product.computed_price
                &#8381;
    .link-to-all
      %div
        = link_to "Посмотреть все", @collection, class: 'btn btn-lg'
  %h2 Отзывы покупателей
  #carouselContent.carousel.reviews-carousel.slide{"data-ride" => "carousel"}
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#carouselContent"}
      %li{"data-slide-to" => "1", "data-target" => "#carouselContent"}
    .carousel-inner{:role => "listbox"}
      .carousel-item.active.text-center.p-4
        .rating-stars
          - 5.times.each do |star| 
            %i.fe.fe-star
        %p Отличный магазин с большим выбором! Покупаю здесь не первый раз и очень довольна! Советую всем любителям яркого стиля срочно что-нибудь приобрести)))
        %p.review-user
          Марина, 22, Краснодар
      .carousel-item.text-center.p-4
        .rating-stars
          - 5.times.each do |star| 
            %i.fe.fe-star
        %p Рекомендую всем! Доставили быстро, размеры, которые были нужны все есть в наличии. Да, и не забывайте про скидку по промокоду — так покупать дешевле!
        %p.review-user
          Алёна, 19, Екатеринбург
  %h2 Бесплатная доставка
  %p.delivery Доставляем товар в любую точку планеты совершенно бесплатно
  .heart
    = image_tag 'heart.svg'

