.text-center
  %h1 404 Страница не найдена
  %p Запрашиваемая страница почему-то не найдена, но мы подобрали для вас несколько отличных товаров:
  .grid-triple
    .row
      - @products.each do |product|
        .col-md-3.col-6
          .item
            - product.pictures.limit(1).each do |picture|
              = link_to image_tag(picture.attachment.url(:medium)), product
              .overlay
            %p 
              = link_to product.name, product
            %p.price
              = product.computed_price
              &#8381;
