.cart-item
  .fe
    color: #ea267a !important

.cart-items
  i
    cursor: pointer
.visible
  visibility: visible
.hidden
  visibility: hidden
.cart-item-properties
  font-size: 12px
  text-transform: uppercase
.cart-confirm
  text-align: center
  p
    font-size: 20px
  .clear-cart
    display: block
    font-size: 10px
    cursor: pointer
    text-decoration: underline
    text-transform: uppercase
    color: #b7b7b7
  .clear-cart:hover
    text-decoration: none
  .btn
    border-radius: 0px
    border-weight: 2px
    color: white
    background: #ea267a
    border: 1px solid #ea267a
    margin-bottom: 10px
    min-width: 100%
  .btn:hover
    color: #ea267a
    background: #fff
  .btn-secondary:hover
    color: white
    background: #ea267a
    border: 1px solid #ea267a
  .btn-secondary
    color: #ea267a
    background: #fff
