.dropdown-menu
  border-radius: 0px
.header
  margin: 24px 0px
  .logo
    text-align: center
    img
      max-width: 220px
  .user-links
    margin-top: 24px
    a
      color: black
    a:hover
      text-decoration: none
    .counter
      min-width: 18px
      font-size: 12px
      border-radius: 25px
      background: #ea267a
      color: white
      display: inline-block
    .counter:hover
      text-decoration: none
    svg:hover
      color: #9e8a8a
  .left
    text-align: left
  .right
    text-align: right
  .center
    text-align: center
  .bottom-links
    background: white
    padding-top: 15px
    border-top: 1px solid #f2f2f2
