.homepage
  h2
    font-style: italic
    font-weight: bold
    text-align: center
    text-transform: uppercase
.banner
  margin-bottom: 35px
  position: relative
  text-align: center
  .title
    position: absolute
    top: 60%
    left: 50%
    transform: translate(-50%, -50%)
    color: white
    text-transform: uppercase
    h1
      font-weight: bold
      font-style: italic
    .btn
      border-width: 3px
      border-radius: 0px
      font-weight: 600
      padding: 15px 40px
      margin-bottom: 40px
      margin-top: 20px
      color: #ffffff
      border-color: #ffffff
    .btn:hover, .btn:active
      color: #ffffff
      background: rgba(255, 255, 255, 0)
@media(max-width: 768px)
  .banner
    .title

      h1
        font-size: 18px
        margin-top: 20px
      .btn
        padding: 5px 20px
        border-width: 2px
        font-size: 14px