.navbar-toggler
  margin: 0 auto
  border: none
.navbar-toggler:not(:disabled):not(.disabled)
  color: black !important
.catalog-nav-link
  display: inline
  vertical-align: middle
  font-size: 16px
  text-transform: uppercase
.bg-light
  background-color: white !important
.navbar
  text-align: center
  .navbar-nav
    margin: 0 auto
  %i
    color: black
  a, .nav-link, .nav-link:hover
    color: black !important
    text-transform: uppercase
    text-decoration: underline
  a:hover
    text-decoration: none !important
  .dropdown-menu a, a:hover
    border: none
  margin: 30px 0
  li
    padding: 0.5rem 1rem
  .nav-link
    padding: 0
@media(max-width: 1000px)
  .navbar
    margin-top: -15px
    margin-bottom: 10px
