.order-total
  .order-amount
    font-size: 30px
    font-weight: bold
    margin-top: -16px
  .tip
    margin-top: -8px
    font-size: 10px
    display: block
@media(max-width:1000px)
  .order-total
    margin-bottom: 24px;
.order-data
  h2
    margin-top: -8px
  .order-form
    margin-top: 10px
    .alert
      background-color: #f3f1ff
      border-color: #f3f1ff
      border-radius: 0px
    .form-check
      margin-bottom: 10px
    .btn
      border-radius: 0px
      border-weight: 2px
      margin-top: 16px
    .btn
      color: white
      background: #ea267a
      border: 1px solid #ea267a
    .btn:hover, .btn:active
      color: #ea267a
      background: #fff
      border: 1px solid #ea267a