.product
  h1, .product-title
    text-transform: uppercase
    margin-top: -10px
  .product-title
    font-size: 2rem
    margin-bottom: 0.5rem
    font-family: inherit
    font-weight: 500
    line-height: 1.2
    color: inherit
  
  .image-gallery-thumbnails-container
    text-align: left
  a
    text-decoration: none
    color: black
    border-bottom: 1px solid black
  a:hover
    border: none
  .image-gallery-thumbnail
    border-bottom: none !important
  .order-form
    margin-top: 40px
    select
      border-radius: 0px !important
      -webkit-appearance: none
      background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right
      background-position-x: 98%
      border: 2px solid #000
      color: #000
    .price
      font-size: 30px
    .free-delivery
      font-size: 18px
    .btn
      border-radius: 0px
      border-weight: 2px
    .add .btn
      color: white
      background: #ea267a
      border: 1px solid #ea267a
    .add .btn:hover
      color: #ea267a
      background: #fff
  .modal-content, .modal-content .btn
    border-radius: 0px
  .modal-content .btn-danger, .modal-content .btn-danger:hover, .modal-content .btn-danger:active
    color: white
    background: #ea267a
    text-decoration: none

