body
  font-family: 'Noto Sans', sans-serif
.delivery-notice
  background: rgb(252, 230, 255)
  padding: 5px 10px
  p
    margin-bottom: 0px
    text-align: center
.grid-triple
  margin-top: 36px
  margin-bottom: 10px
  img
    width: 100%
  .item
    p
      text-align: center
      margin-top: 20px
      a
        text-decoration: none
        color: black
        border-bottom: 1px solid black
      a:hover
        border: none
    p.price
      font-weight: bold
      margin-top: -10px
.link-to-all
  text-align: center
  text-transform: uppercase
  .btn
    border-width: 3px
    border-radius: 0px
    font-weight: 600
    padding: 15px 40px
    margin-bottom: 40px
    margin-top: 20px
    color: #ea267a
    border-color: #ea267a
  .btn:hover
    color: white
    background: #ea267a
.carousel-inner 
  i
    color: #ea267a
  .rating-stars
    margin-bottom: 10px
    margin-top: -10px
    font-size: 20px
  .review-user
    color: silver
    margin-top: -8px
.carousel-indicators li
  background: #ea267a
  border-top: none
  border-bottom: none
.reviews-carousel
  margin-bottom: 20px
p.delivery
  margin-top: 20px
  text-align: center
.heart
  text-align: center
.heart img
  width: 100px
  margin-top: 15px
.footer
  text-align: center
  text-transform: uppercase
  margin-top: 40px
  ul
    margin: 10px 0px
  a
    text-decoration: none
    color: black
    border-bottom: 1px solid black
  a:hover
    border: none
  .payments-splash
    width: 240px
    margin: 40px auto
@media(max-width:580px)
  .footer .payments-splash
    margin-bottom: 100px
.delete
  position: absolute
  width: 10px
  margin-top: -65px
  margin-left: 30px
  background: white
  height: 16px
.pagination
  justify-content: center
  margin: 0 auto
  .page-link
    color: black
    border: none
  .active
    .page-link
      color: white
      background-color: black
      border-color: black  