.text-center
  %h1 Категории товаров
  %p Выберите и купите то, что нужно вам!
  .grid-triple
    .row
      - @categories.each do |category|
        - category.products.limit(1).order("RANDOM()").each do |product|
          .col-md-3.col-6
            .item
              - product.pictures.limit(1).each do |picture|
                = link_to image_tag(picture.attachment.url(:medium)), category
                .overlay
              %p 
                = link_to category.name, category
