%h1 Products
%table
  %thead
    %tr
      %th Name
      %th Sku
      %th Link
      %th Price
      %th Rating
      %th Color
      %th Size
      %th Description
      %th Stock
      %th Category
      %th Collection
      %th Reviews
      %th Additional
  %tbody
    - @products.each do |product|
      %tr
        %td= product.name
        %td= product.sku
        %td= product.link
        %td= product.price
        %td= product.rating
        %td= product.color
        %td= product.size
        %td= product.description
        %td= product.stock
        %td= product.category_id
        %td= product.collection_id
        %td= product.reviews
        %td= product.additional