.product
  .row
    .col-sm-6#gallery
      .product-title.d-block.d-sm-none
        = @product.name
      .d-block.d-sm-none
        = render 'shared/product_breadcrumbs'
      = react_component 'ProductGallery', { photos: @photos }, {prerender: true}
    .col-sm-6
      %h1.d-none.d-sm-block
        = @product.name
      .d-none.d-sm-block
        = render 'shared/product_breadcrumbs'

      =# react_component 'Product', { product: { id: @product.id, name: @product.name, color: @product.color, size: @product.size, price: @product.computed_price } }, {prerender: true}
      = render 'shared/product_form'